.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-img{
  width: 55%;
  top: 22%;
  left:50%;
  margin-left: -27.5%;
}
.stack{
  width: 320px;
}
.stack-img{
  width: 200px;
  margin-top: -32%;
}

@media(min-width: 480px){
  .profile-img{
    width: 35%;
    top: 30%;
    margin-left: -17.5%;
  }
}
@media(min-width: 768px){
  .profile-img{
    width: 25%;
    top: 20%;
    margin-left: -12.5%;
  }
}
@media(min-width: 1024px){
  .profile-img{
    width: 18%;
    top: 15%;
    margin-left: -9%;
  }
}

.hidden{
  display: hidden;
}