.sudoku-body{
    padding-bottom: 20px;
    background-image: url('../../../assets/img/black-numbers-background_b4eu7wk3_thumbnail-full01.png');
}
.sudoku-h1{
    padding-top: 2%;
    font-size: 500%;
    text-align: center;
    color: rgba(255, 153, 0);
    text-shadow:2px 2px 10px white,
                -5px -5px 20px black;
}
main{
    margin-top: 4%;
    display: grid;
    grid-template-columns:5% 15% 5% 50% 20% 10%;
    grid-template-rows: 20% 35% 20% 15%;
}
.timer{
    padding: 10px;
    border: 5px solid black;
    background-color: rgba(245, 245, 245, 0.74);
}
.counter{
    text-align:center;
    margin: 10px auto;
    
}
.timer button:first-of-type{
    font-size: 120%;
    height: 50%;
    background-color: blue;
    color: whitesmoke;
    border-radius: 10px;
    font-weight: bold;
    vertical-align: top;
    padding: 10px;
}
.timer button:last-of-type{
    height: 50%;
    font-size: 120%;
    background-color: orange;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
}
.timer button.running{
    background-color: red;
    color: black;
}
.strike-box{
    padding:10px;
    border: 5px solid black;
    background-color: rgba(245, 245, 245, 0.74);
    text-align: center;
}
.strike-box h2{
    margin: 0;
    padding: 0;
}
.strike-table{
    border: 2px solid black;

    margin: 0 auto;
}
.strike-table td{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 200%;
}
.board{

    border: 6px solid black;
    z-index: 200;
    background-color: rgba(245, 245, 245, 0.884);
    box-shadow: 10px 10px 10px rgba(245, 245, 245, 0.5),
                -10px -10px 10px rgba(245, 245, 245, 0.5),
                -10px 10px 10px rgba(245, 245, 245, 0.5),
                10px -10px 10px rgba(245, 245, 245, 0.5);

}
.board td{
    border: 2px solid black;
    /* width: 55px; */
    /* height: 55px; */
    font-size: 200%;
    text-align: center;
}
.board td:nth-of-type(3n){
    border-right: 6px solid black;
}
.board tr:nth-of-type(3n){
    border-bottom: 6px solid black;
}
.numbers{
    grid-column: 4;
    grid-row: 4;
    width: 300px;
    margin: 0 auto;
    border: 2px solid black;
    background-color: rgba(245, 245, 245, 0.884);
    margin-top: 5%;

}
.numbers td{
    width: 33px;
    height: 33px;
    font-size: 150%;
    cursor: pointer;
    text-align: center;
}
.square{
    cursor: pointer;
}
.modal{
    /* visibility: hidden; */
    display: grid;
    grid-template-columns: 20% 25% 10% 25% 20%;
    grid-template-rows: 10% 50% 20% 20%;
    grid-column: 1 /span 6;
    grid-row: 1 / span 3;
    position: relative;
    background-color: rgba(0, 0, 139, 0.733);
    color: whitesmoke;

}
.modal h2{
    grid-column: 2 /span 3;
    grid-row: 2;
    margin: 12.5% auto;
    text-align: center;
    font-size: 900%;
    animation: blinker .2s linear infinite;
}
@keyframes blinker {
    10% {
        opacity: 0;
    }
}
.modal button{
    grid-column: 3;
    grid-row: 3;
    background-color: orange;
    color: blue;
    font-weight: bold;
    font-size: 120%;
    margin: 10% 0 10% 0;
    border: 5px solid blue;;
    border-radius: 20px;
}
.visable{
    display: none;
}

.selected{
    background-color: rgba(255, 153, 0, 0.788);
    z-index: 0;
    border-color: red;
}
.selected-box{
    background-color: rgb(60, 138, 228);
}

@media only screen and (min-width: 320px) {
    .board td{
        width: 40px;
        max-height: 30px;
        font-size: 170%;
    }
}
@media only screen and (min-width: 480px) {
    .board td{
        width: 60px;
        height: 60px;
        font-size: 200%;
    }
}
@media only screen and (min-width: 768px) {
    .board td{
        width: 50px;
        height: 40px;
        font-size: 100%;
    }
}
@media only screen and (min-width: 1024px) {
    .board td{
        width: 80px;
        height: 80px;
        font-size: 250%;
    }
}
